<div class="relative w-full flex items-center justify-between bg-custom-black px-8">
    <div class="flex items-center justify-start gap-10">
        <div class="flex items-center justify-center"><img src="/assets/logo.svg" width=30/>
        <h1 class="font-bold text-white">{{name}}</h1></div>
        <nav class="z-20 flex items-center justify-start gap-8">
            @for (link of navLinks; track link.id) {
                <a [routerLink]=link.link (click)="toggleNav(link.title)" [class]="currentPage != link.title ? linkClass + ' border-custom-grey-3' : linkClass + ' text-white border-white'">{{link.title}}</a>
            }
        </nav>
    </div>
    
    <div class="flex items-center justify-center gap-1"><img src="assets/icon_location.svg" width="15" />
    <p class="text-xs text-custom-white-1">{{location}}</p></div>

    <profile-component/>
    <div class="w-full absolute h-[1px] z-0 bg-custom-grey-3 left-0 bottom-0"></div>
</div>

<router-outlet />