<div class="flex items-center justify-end gap-2">
    <div class="relative cursor-pointer hover:opacity-85  h-[35px] w-[35px] duration-150">
        <img [src]="user_details.user.pfp" [alt]="user_details.user.name[0]">
        <div class="absolute bg-custom-primary top-0 right-0 rounded-full w-[10px] h-[10px] border-[2px] border-custom-black"></div>
    </div>
    <div class="cursor-pointer hover:opacity-85 grid place-items-center p-[6px] rounded-full border-[1px] border-custom-grey-1 h-[32px] w-[32px] duration-150"><img src="assets/icon_settings.svg"></div>
    <div class="cursor-pointer hover:opacity-85 grid place-items-center p-[6px] rounded-full border-[1px] border-custom-grey-1 h-[32px] w-[32px] duration-150"><img src="assets/icon_bell.svg"></div>
</div>